* {
  font-family: 'Cairo', sans-serif;
}

body {
  overflow-x: hidden;
}

nav {
  position: relative;
  z-index: 9999999 !important;
  color: #fff;
}

nav .acc {
  font-weight: 600;
  position: relative;
  top: 5px;
}

.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  opacity: 0.5;
  color: #fff;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active {
  opacity: 0.5;
}

.dropdown-toggle::after {
  display: none;
}

/* أنماط قسم القوانين (.laws) */
.laws {
  position: relative;
  z-index: 99999;
  text-align: center;
  padding: 150px 0 150px;
  color: #fff;
}

.laws .taps {
  padding-top: 45px;
}

.laws .tap ul li {
  width: 100%;
  height: auto;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 55px 10px;
}

.laws .tap ul li:first-of-type {
  margin-top: 25px;
}

.laws .tap ul li.active {
  background-color: #8e8e8e;
}

.laws .tap ul li:hover {
  background-color: #8e8e8e;
}

.laws .taps .tap-content {
  padding-bottom: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  display: none;
  border-radius: 5px;
}

.laws .taps .tap-content.active {
  display: block;
}

.laws .taps .tap-content p {
  margin-top: 15px;
  font-size: 18px;
  color: rgba(5, 5, 5, 0.541) !important;
  width: 90%;
}

.laws .taps .tap-content .btn {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #012A46), color-stop(80%, #27273c));
  background-image: linear-gradient(to top, #012A46 20%, #27273c 80%);
}

.laws .tap-content h1 {
  color: #333;
  padding: 18px 0 0 0;
}

@media (min-width: 320px) {
  .laws .content p, .laws .tap-content {
    text-align: center;
  }
  .laws .taps .tap-content p {
    width: 100%;
  }
  .laws .tap {
    position: relative;
    z-index: 2;
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .laws .content p, .laws .tap-content {
    text-align: right;
  }
  .laws .taps .tap-content {
    margin-top: 30px;
  }
}

.laws .title {
  font-weight: bold;
  font-size: 50px;
}

.laws .card {
  margin: 15px 70px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* أنماط الفوتر */
.footer {
  background-color: #eee;
  padding: 25px 0;
  font-weight: bold;
}

.footer img {
  width: 30px;
  margin: 11px 15px 0 0;
  position: relative;
  left: 28px;
}

.footer a {
  color: #505050;
  text-decoration: none;
}

.footer a i {
  font-size: 30px;
  margin: 11px 15px 0 0;
  position: relative;
  left: 28px;
}